
@font-face {
  font-family: 'founder';
  src: url('../fonts/founder.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body *{
	font-family: founder;
}

.none {
	display: none;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
	border-bottom: 2px solid #fff;
	height: 175px;
	background-color: rgba(94,84,72,0.3);
}

.header .logo {
	display: block;
	width: 147px;
	height: 68%;
	margin: 0 auto;
	background:url("../img/logo.gif") no-repeat 0 30px;
	background-size: 147px 60px;
	text-indent: -2000px;
}

.header .room-reservation {
	position: absolute;
	right: 15%;
	top: 10%;
	font-size: 18px;
	color: #666;
	padding-bottom: 5px;
	border-bottom: 1px solid #bbb;	
}

.header .room-reservation:hover{
	text-decoration: none;
}

.header ul {
	height: 32%;
	width: 600px;
	margin: 0 auto;
}

.header ul li {
	float: left;
	height: 30px;
	line-height: 30px;
	width: 150px;
}

.header ul li a {
	display:inline-block;
	color:#fff;
	font-size: 16px;
}

.header ul li .active {
	position: relative;
	color:#666;
	font-size: 18px;
}

.header ul li .active:after {
	content: "";
	display: block;
	width: 1px;
	height: 15px;
	position: absolute;
	left: 50%;
	bottom: -26px;
	background-color: #666;
}

.footer {
	height: 150px;
	width: 100%;
	margin-top: 30px;
	padding-top: 1px;
	background-color: #685443;
}

.footer div {
	float: left;
	width:50%;
	height: 100%;
}

.footer .footer-logo {
	background:url("../img/footer-logo.png") no-repeat center center;
	background-size: 120px 120px;
}

.footer .detail-info {
	height: 103px;
	margin-top: 28px;
	color: #fff;
}

.footer .detail-info h2 {
 	height: 30px;
 	line-height: 30px;
 	font-size: 20px;
 	font-weight: normal;
}

.footer .detail-info li span {
 	display: inline-block;
 	width: 408px;
 	height: 25px;
 	line-height: 25px;
 	font-size: 16px;
}

.fixed-header {
	background-color:rgba(94,84,72,1);; 
	box-shadow: 0 3px 3px 1px rgba(176,175,175,.2);
	border-bottom-color:#F8F8F8;
	height: 140px;
	transition: all .5s ease-out 0s; 
	z-index: 10000; 
}

.fixed-header ul li .active:after {
	bottom: -14px;
	background-color: #fff;
}

.fixed-header ul li .active {
	color: #fff;
}

.content .fixed-sub {
	position: fixed;
	top: 140px;
	left: 0;
	height: 45px;
	line-height: 45px;
	transition: all .5s ease-out 0s;
	z-index: 10000; 
	opacity: 1;
}

.content .fixed-sub a {
	height: 45px;
	line-height: 45px;
	margin-top: 0;
	transition: all .5s ease-out 0s; 
}
