/*	长白山居首页css*/
.content {
	width: 100%;
}

.content .content-top{
	position: relative;
	width: 100%;
	height: 600px;
}

.content .content-top img{
	width: 100%;
	height: 100%;
}

.content .sub-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	line-height: 60px;
	background-color: #E4E4E4;
	opacity: 0.8;
}

.content .sub-nav div {
	width: 400px;
	margin: 0 auto;
} 

.content .sub-nav div a {
	display: inline-block;
	width: 195px;
	height: 30px;
	line-height: 30px;
	color: #737070;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #bbb;
}

.content .sub-nav div a:hover {
	text-decoration: none;
	color: #000;
}

.content .sub-nav div .current-position{
	text-decoration: none;
	color: #000;
}

.content .sub-nav div a:last-child {
	border-right:none; 
}

.content .content-middle {
	margin-bottom: 20px;
}

.content .content-middle h1 , .content .content-bottom h1{
	height: 80px;
	line-height: 80px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: #999;
	font-weight: normal;
}

.content .content-middle img {
	display: block;
	width: 800px;
	height: 336px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.content .culture-content img {
	height: 500px;
}

.content .content-middle p , .content .content-bottom p{
	width: 800px;
	margin: 0 auto;
	text-align: justify;
	font-size: 16px;
	color: #999;
}

.content .content-middle h4{
	width: 800px;
	margin: 20px auto 10px;
	text-align: justify;
	font-size: 14px;
	color: #000;
}

.content  a {
	display: block;
	position: relative;
	width: 130px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin:0 auto;
	margin-top: 20px;
	font-size: 16px;
	color: #999;
}

.content  a:hover {
	text-decoration: none;
}

.content a:hover .a-border-top{
	width: 130px;
	left: 0;
	margin-left: 0;
} 

.content a:hover .a-border-bottom-left, .content a:hover .a-border-bottom-right{
	width: 75px;
} 

.content a:hover .a-border-left , .content a:hover .a-border-right{
	height: 50px;
} 

.a-border-top{
	position: absolute;
	display: block;
	left: 50%;
	top: 0;
	width: 20px;
	margin-left: -10px;
	height: 1px;
	background-color: #999;
	transition: width 0.3s linear , left 0.3s linear ,margin-left 0.3s linear;
}

.a-border-bottom-left{
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #999;
	transition: width 0.5s linear 0.8s;
}

.a-border-bottom-right{
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #999;
	transition: width 0.5s linear 0.8s;
}

.a-border-left{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 0;
	width: 1px;
	background-color: #999;
	transition: height 0.5s linear 0.3s;
}

.a-border-right{
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	height: 0;
	width: 1px;
	background-color: #999;
	transition: height 0.5s linear 0.3s;
}

.content-bottom div {
	position: relative;
	width: 800px;
	height: 336px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.content-bottom div img {
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s linear;
	cursor: pointer;
}

.content-bottom div img:hover {
	width: 75%;
	z-index: 1002;
	height: 450px;
}

.content-bottom div .left-img {
	left: 0;
	top: 0;
}

.content-bottom div .left-img:hover+.left-title{
	right: 25%;
	z-index: 1003;
}

.content-bottom div .right-img:hover+.right-title{
	left: 25%;
	z-index: 1003;
}

.content-bottom div .right-img {
	right: 0;
	top: 0;
}

.content-bottom .left-title {
	position: absolute;
	right: 50%;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	width: 200px;
	background-color: #39322F;
	opacity: 0.8;
	z-index: 1001;
	transition: all 0.5s linear;
}

.content-bottom .right-title {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #fff;
	width: 200px;
	background-color: #39322F;
	opacity: 0.8;
	z-index: 1001;
	transition: all 0.5s linear;
}

