body{
	background-color: #f7f7f7;
}

.content {
	width: 100%;
}

.content .top-img {
	position: relative;
	width: 100%;
	height: 600px;
}

.content .top-img img {
	width: 100%;
	height: 100%;	
}

.content .sub-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	line-height: 60px;
	background-color: #E4E4E4;
	opacity: 0.8;
}

.content .sub-nav div {
	width: 400px;
	margin: 0 auto;
} 

.content .sub-nav .current span{
	color: #2d2219;
	border-bottom: 1px solid;
	font-weight: bold;
}

.content .in-detail div {
	width: 200px;
}

.content .sub-nav div a {
	display: inline-block;
	width: 195px;
	height: 30px;
	line-height: 30px;
	color: #737070;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #bbb;
}

.content .sub-nav div a:hover {
	text-decoration: none;
	color: #000;
}

.content .sub-nav div a:last-child {
	border-right:none; 
} 

.content .themes {
	position: relative;
	width: 520px;
	height: 90px;
	margin: 30px auto;
	background:url("../img/theme.gif") no-repeat 0 0;
	font-weight: bold;
}

.content .themes .db-theme {
	position: absolute;
	color: #685443;
	font-size: 16px;
	left: 0;
	bottom: 2px;
}

.content .themes .dw-theme {
	position: absolute;
	color: #475e37;
	font-size: 16px;
	left: 147px;
	bottom: 2px;
}

.content .themes .cz-theme {
	position: absolute;
	color: #353587;
	font-size: 16px;
	left: 298px;
	bottom: 2px;
}

.content .themes .sl-theme {
	position: absolute;
	color: #1d4956;
	font-size: 16px;
	left: 444px;
	bottom: 2px;
}

.content .themes .current-theme {
	border-bottom: 1px solid;
}

.content .themes .current-theme:after {
	content: "<"
}

.content .theme-show {
	width: 710px;
	margin:0 auto 30px;
}

.content .theme-show h1.db-theme {
	font-size: 36px;
	color: #685443;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.content .theme-show img {
	width: 710px;
	height: 290px;
}

.content .theme-show p.db-theme {
	font-weight: bold;
	font-size: 16px;
	color: #685443;
	width: 600px;
	margin: 20px auto;
}

.content .theme-show h1.dw-theme {
	font-size: 36px;
	color: #475e37;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.content .theme-show p.dw-theme {
	font-weight: bold;
	font-size: 16px;
	color: #475e37;
	width: 600px;
	margin: 20px auto;
}

.content .theme-show h1.cz-theme {
	font-size: 36px;
	color: #353587;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.content .theme-show p.cz-theme {
	font-weight: bold;
	font-size: 16px;
	color: #353587;
	width: 600px;
	margin: 20px auto;
}


.content .theme-show h1.sl-theme {
	font-size: 36px;
	color: #1d4956;
	text-align: center;
	height: 60px;
	line-height: 60px;
}

.content .theme-show p.sl-theme {
	font-weight: bold;
	font-size: 16px;
	color: #1d4956;
	width: 600px;
	margin: 20px auto;
}

.room-type {
	width: 800px;
	margin: 0 auto;
} 

.room-type li {
	position: relative;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom:1px solid #ccc;
}

.room-type li h1 {
	width: 100%;
	text-align: left;
	height: 80px;
	line-height: 80px;
	font-weight: normal;
	font-size: 22px;
}

.room-type li img {
	width: 100%;
	height: 520px;
}

.room-type div {
	width: 100%;
	padding-top: 20px;
}

.room-type div span {
	float: left;
	width: 77%;
	font-size: 14px;
}

.room-type div a {
	float: right;
	width: 15%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #9f8769;
	transition:  all 0s ease-out;
}

.room-type div a:hover {
	text-decoration: none;
	transform: scale(1.1,1.1);
	box-shadow: 5px 5px 10px #000;
}

.room-type .check-more {
	position: absolute;
	right: 0;
	top: 588px;
	width: 32px;
	height: 32px;
	background:url("../img/check-more.png") no-repeat 0 0;
	transition: all 0s ease-out;
}

.room-type .check-more:hover {
	right: 0;
	top: 556px;
	width: 64px;
	height: 64px; 
	background-size: 100% 100%;
}

.room-type .thumb-photo {
	height: 80px;
	width: 100%;
}

.room-type .thumb-photo img {
	width: 100px;
	height: 100%;
	margin:5px 10px;
}

.room-show {
	width: 890px;
	margin: 0 auto;
}

.room-show li {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 40px;
	border-bottom:1px solid #ccc;
}

.room-show li h1 {
	color: #9f8769;
	text-align: right;
	font-size:31px;
	font-weight: normal;	
}

.room-show li p {
	text-align: justify;
	margin-top: 10px;
	font-size: 24px;
}

.room-show li .detail-img{
	width: 436px;
	height: 266px;
	float: left;
	overflow: hidden;
}

.room-show .detail-img img{
	width: 436px;
	height: 266px;
}

.room-show li .detail-info {
	width: 400px;
	float: right;
}

.room-show .detail-info .info-table{
	float: right;
	width: 300px;
	margin: 10px 0;
}


.room-show .detail-info .info-table span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 146px;
	text-align: right;
}

.detail-info h1 span {
	display: block;
	color: #737070;
	font-size: 26px;
}

.detail-info h3{
	font-weight: normal;
	font-size: 32px;
	text-align: right;
	margin: 20px 0;
}

.detail-info h3 span {
	color: #9f8769;
}

.detail-info h3 em {
	display: block; 
	color: #737070;
	font-size: 26px;
	
}

.sure-order {
	clear: both;
	display: block;
	width: 110px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #9f8769;
	float: right;
}

.sure-order:hover {
	text-decoration: none;
}

.no-room{
	float: right;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #9f8769;
	background-color: #ededed;
	cursor: not-allowed;
}

.no-room:hover {
	text-decoration: none;
}

.middle-info {
	width: 1040px;
	margin :0 auto;
}

.calendar {
	margin:60px auto 40px;
	height: 22px;
	width: 800px;
}

.calendar input {
	width: 240px;
	border: 1px solid #999;
}

.calendar button {
	float: right;
	width: 100px;
	height: 24px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #9f8769;
	cursor: pointer;
	border: 1px solid #9f8769;
}

.order-info h1{
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #9f8769;
	text-align: center;
	font-size: 26px;
	font-weight: normal;
}

.order-info div {
	float: left;
	height: 40px;
	width: 100%;
	line-height: 40px;
	margin: 20px auto;
}

.order-info .one-row {
	width: 280px;
}

.order-info .one-row input {
	width: 160px;
	text-align: center;
}

.order-info div span {
	float: left;
	height: 40px;
	line-height: 40px;
	width: 100px;
	font-size: 16px;
	text-align: right;
	margin-right: 16px;
}

.order-info div input {
	float: left;
	width: 460px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: left;
	border: 1px solid #999;
}

.order-info div button {
	display: block;
	width: 200px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	background-color: #9f8769;
	cursor: pointer;
	border: 1px solid #9f8769;
}





