<!-- 在线预订页css -->
.content {
	width: 100%;
}

.content .top-img {
	position: relative;
	width: 100%;
	height: 600px;
}

.content .top-img img {
	width: 100%;
	height: 100%;	
}

.content .sub-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	line-height: 60px;
	background-color: #E4E4E4;
	opacity: 0.8;
}

.content .sub-nav div {
	width: 400px;
	margin: 0 auto;
} 

.content .in-detail div {
	width: 200px;
}

.content .sub-nav div a {
	display: inline-block;
	width: 195px;
	height: 30px;
	line-height: 30px;
	color: #737070;
	font-size: 16px;
	text-align: center;
	border-right: 1px solid #bbb;
}

.content .sub-nav div a:hover {
	text-decoration: none;
	color: #000;
}

.content .sub-nav div a:last-child {
	border-right:none; 
}

.room-type {
	width: 800px;
	margin: 0 auto;
} 

.room-type li {
	position: relative;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	border-bottom:1px solid #ccc;
}

.room-type li h1 {
	width: 100%;
	text-align: left;
	height: 80px;
	line-height: 80px;
	font-weight: normal;
	font-size: 22px;
}

.room-type li img {
	width: 100%;
	height: 520px;
}

.room-type div {
	width: 100%;
	padding-top: 20px;
}

.room-type div span {
	float: left;
	width: 77%;
	font-size: 14px;
}

.room-type div a {
	float: right;
	width: 15%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #9f8769;
}

.room-type div a:hover {
	text-decoration: none;
}

.room-type .check-more {
	position: absolute;
	right: 0;
	top: 588px;
	width: 32px;
	height: 32px;
	background:url("../img/check-more.png") no-repeat 0 0;
}

.room-type .thumb-photo {
	height: 80px;
	width: 100%;
}

.room-type .thumb-photo img {
	width: 100px;
	height: 100%;
	margin:5px 10px;
}

.room-show {
	width: 800px;
	margin: 0 auto;
	margin-top: 40px;
}

.room-show li {
	height: 266px;
	margin-bottom: 40px;
}

.room-show li .detail-img{
	width: 436px;
	float: left;
}

.room-show .detail-img img{
	width: 436px;
	height: 266px;
}

.room-show li .detail-info {
	width: 300px;
	float: right;
}

.detail-info h1 {
	color: #9f8769;
	text-align: right;
	font-size: 46px;
	font-weight: normal;
	margin-bottom: 30px;	
}

.detail-info h1 span {
	display: block;
	color: #737070;
	font-size: 26px;
}

.detail-info h2{
	font-weight: normal;
	font-size: 36px;
	text-align: right;
	margin-bottom: 30px;
}

.detail-info h2 span {
	color: #9f8769;
	text-align: right;
}

.detail-info h2 em {
	display: block;
	color: #737070;
	font-size: 26px;
	text-align: right;
}


.sure-order {
	float: right;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #9f8769;
}

.sure-order:hover {
	text-decoration: none;
}

.no-room {
	float: right;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #9f8769;
	background-color: #ededed;
	cursor: not-allowed;
}

.no-room:hover {
	text-decoration: none;
}